n8n/broadcast-messaging-workflow.json
{
  "name": "eStudy — Announcement Broadcast (Groups · Chats · Email)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "estudy-broadcast",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "c1a2c3d4-0001-4000-8000-000000000001",
      "name": "Broadcast Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-220, 320],
      "webhookId": "estudy-broadcast"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "b-title",  "name": "title",          "type": "string", "value": "={{ $json.body.title || 'Balochistan Academy Update' }}" },
            { "id": "b-body",   "name": "body",           "type": "string", "value": "={{ $json.body.body }}" },
            { "id": "b-tg",     "name": "telegramChatId", "type": "string", "value": "={{ $json.body.telegramChatId || 'YOUR_TELEGRAM_GROUP_CHAT_ID' }}" },
            { "id": "b-wa",     "name": "whatsappTo",     "type": "string", "value": "={{ ($json.body.whatsappTo || '').toString().replace(/[^0-9]/g, '') }}" },
            { "id": "b-email",  "name": "emailTo",        "type": "string", "value": "={{ $json.body.emailTo || '' }}" },
            { "id": "b-at",     "name": "sentAt",         "type": "string", "value": "={{ $now.toISO() }}" }
          ]
        },
        "options": {}
      },
      "id": "c1a2c3d4-0002-4000-8000-000000000002",
      "name": "Normalize Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [0, 320]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ok\": true, \"message\": \"Broadcast dispatched\", \"title\": $json.title } }}",
        "options": {}
      },
      "id": "c1a2c3d4-0003-4000-8000-000000000003",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [220, 160]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $json.telegramChatId }}",
        "text": "=📢 *{{ $json.title }}*\n\n{{ $json.body }}",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "c1a2c3d4-0004-4000-8000-000000000004",
      "name": "Telegram Group / Channel",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [240, 320]
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "YOUR_WHATSAPP_PHONE_NUMBER_ID",
        "recipientPhoneNumber": "={{ $json.whatsappTo }}",
        "messageType": "text",
        "textBody": "=*{{ $json.title }}*\n\n{{ $json.body }}",
        "additionalFields": {}
      },
      "id": "c1a2c3d4-0005-4000-8000-000000000005",
      "name": "WhatsApp Broadcast",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [240, 500]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $json.emailTo }}",
        "subject": "={{ $json.title }}",
        "emailType": "html",
        "message": "=<div style=\"font-family:Arial,sans-serif;max-width:560px;margin:auto\"><h2 style=\"color:#5b43cc\">{{ $json.title }}</h2><p style=\"white-space:pre-line\">{{ $json.body }}</p><p style=\"color:#94a3b8;font-size:12px\">Balochistan Academy Portal · New Century Educational System</p></div>",
        "options": {}
      },
      "id": "c1a2c3d4-0006-4000-8000-000000000006",
      "name": "Email Blast",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [240, 680]
    }
  ],
  "connections": {
    "Broadcast Webhook": {
      "main": [[{ "node": "Normalize Message", "type": "main", "index": 0 }]]
    },
    "Normalize Message": {
      "main": [[
        { "node": "Respond OK", "type": "main", "index": 0 },
        { "node": "Telegram Group / Channel", "type": "main", "index": 0 },
        { "node": "WhatsApp Broadcast", "type": "main", "index": 0 },
        { "node": "Email Blast", "type": "main", "index": 0 }
      ]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
