n8n/student-registration-workflow.json
{
  "id": "BapRegisterOnbrd",
  "name": "Balochistan Academy Portal — Student Registration & Onboarding",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bap-register",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "b1a2c3d4-0001-4000-8000-000000000001",
      "name": "Register Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-220, 300],
      "webhookId": "bap-register"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "f-name",  "name": "name",         "type": "string", "value": "={{ $json.body.name }}" },
            { "id": "f-phone", "name": "phone",        "type": "string", "value": "={{ ($json.body.phone || '').toString().replace(/[^0-9]/g, '').replace(/^0/, '92') }}" },
            { "id": "f-email", "name": "email",        "type": "string", "value": "={{ $json.body.email || '' }}" },
            { "id": "f-grade", "name": "grade",        "type": "string", "value": "={{ $json.body.grade || '9' }}" },
            { "id": "f-med",   "name": "medium",       "type": "string", "value": "={{ $json.body.medium || 'English' }}" },
            { "id": "f-city",  "name": "city",         "type": "string", "value": "={{ $json.body.city || 'Unknown' }}" },
            { "id": "f-src",   "name": "source",       "type": "string", "value": "={{ $json.body.source || 'app' }}" },
            { "id": "f-at",    "name": "registeredAt", "type": "string", "value": "={{ $now.toISO() }}" }
          ]
        },
        "options": {}
      },
      "id": "b1a2c3d4-0002-4000-8000-000000000002",
      "name": "Normalize Student",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [0, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ok\": true, \"message\": \"Registration received — welcome!\", \"student\": $json.name } }}",
        "options": {}
      },
      "id": "b1a2c3d4-0003-4000-8000-000000000003",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [220, 140]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Students",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": []
        },
        "options": {}
      },
      "id": "b1a2c3d4-0004-4000-8000-000000000004",
      "name": "Save to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [220, 420],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $('Normalize Student').item.json.email }}",
        "subject": "=Welcome to Balochistan Academy Portal, {{ $('Normalize Student').item.json.name }}! 🎓",
        "emailType": "html",
        "message": "=<div style=\"font-family:Arial,sans-serif;max-width:560px;margin:auto\"><h2 style=\"color:#5b43cc\">Welcome aboard, {{ $('Normalize Student').item.json.name }}!</h2><p>Your Grade {{ $('Normalize Student').item.json.grade }} ({{ $('Normalize Student').item.json.medium }} medium) account is ready.</p><p>You now have access to your AI Tutor, daily tests, and the full preparation library.</p><p><a href=\"https://balochistan-academy-portal.netlify.app/login\" style=\"background:#5b43cc;color:#fff;padding:10px 18px;border-radius:8px;text-decoration:none\">Open the App</a></p><p style=\"color:#94a3b8;font-size:12px\">Balochistan Academy Portal · New Century Educational System</p></div>",
        "options": {}
      },
      "id": "b1a2c3d4-0005-4000-8000-000000000005",
      "name": "Welcome Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [460, 220],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "YOUR_WHATSAPP_PHONE_NUMBER_ID",
        "recipientPhoneNumber": "={{ $('Normalize Student').item.json.phone }}",
        "messageType": "text",
        "textBody": "=Assalam-o-Alaikum {{ $('Normalize Student').item.json.name }}! 🎓\n\nYour Balochistan Academy Portal account (Grade {{ $('Normalize Student').item.json.grade }}, {{ $('Normalize Student').item.json.medium }} medium) is now active.\n\nStart learning with your AI Tutor anytime: https://balochistan-academy-portal.netlify.app/login\n\nReply here if you need any help.",
        "additionalFields": {}
      },
      "id": "b1a2c3d4-0006-4000-8000-000000000006",
      "name": "Welcome WhatsApp",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [460, 420],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "YOUR_TELEGRAM_GROUP_CHAT_ID",
        "text": "=🆕 New student registered\n\n👤 {{ $('Normalize Student').item.json.name }}\n📞 {{ $('Normalize Student').item.json.phone }}\n🎓 Grade {{ $('Normalize Student').item.json.grade }} · {{ $('Normalize Student').item.json.medium }}\n🏙️ {{ $('Normalize Student').item.json.city }}\n🔗 via {{ $('Normalize Student').item.json.source }}",
        "additionalFields": {}
      },
      "id": "b1a2c3d4-0007-4000-8000-000000000007",
      "name": "Telegram Group Notify",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [460, 620],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Register Webhook": {
      "main": [[{ "node": "Normalize Student", "type": "main", "index": 0 }]]
    },
    "Normalize Student": {
      "main": [[
        { "node": "Respond OK", "type": "main", "index": 0 },
        { "node": "Save to Google Sheets", "type": "main", "index": 0 }
      ]]
    },
    "Save to Google Sheets": {
      "main": [[
        { "node": "Welcome Email", "type": "main", "index": 0 },
        { "node": "Welcome WhatsApp", "type": "main", "index": 0 },
        { "node": "Telegram Group Notify", "type": "main", "index": 0 }
      ]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
